<html>
    <head>
        <title>Awesome - Call It Anything</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <style>
        body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
        .w3-third img{margin-bottom: -6px; opacity: 0.8; cursor: pointer}
        .w3-third img:hover{opacity: 1}
        </style>
    </head>
    <body>
        <div class="w3-container w3-light-grey w3-padding-32 w3-padding-large" id="contact">
                <div class="w3-content" style="max-width:600px">
                    <h4 class="w3-center"><b>Contact Me</b></h4>
                    <p>{{args.Preview}}</p>
                    <form method ="POST" action="/Awesome">
                    <div class="w3-section">
                        <label>Name</label>
                        <input class="w3-input w3-border" type="text" name="name" value={{args.Name}}>
                    </div>
                    <div class="w3-section">
                        <label>Email</label>
                        <input class="w3-input w3-border" type="text" name="email"  value={{args.Email}}>
                    </div>
                    <input type="submit" name="submit_button" value="Preview" class="w3-button w3-block w3-black w3-margin-bottom">
                    <input type="submit" name="submit_button" value="Send" class="w3-button w3-block w3-black w3-margin-bottom">
                    </form>
                </div>
            </div>
        <form method = "POST" action="/">
            <input type="submit" name="back_button" value="Back">
        </form>
    </body>
</html>