<html>
    <head>
        <title>SAY WHAT YOU THINK</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <style>
        body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
        .w3-third img{margin-bottom: -6px; opacity: 0.8; cursor: pointer}
        .w3-third img:hover{opacity: 1}
        </style>
    </head>
    <body class="w3-light-grey w3-content" style="max-width:1600px">
        <nav class="w3-sidebar w3-bar-block w3-white w3-animate-left w3-text-grey w3-collapse w3-top w3-center" style="z-index:3;width:300px;font-weight:bold" id="mySidebar"><br>
            <h3 class="w3-padding-64 w3-center"><b>SAY<br>WHAT<br>YOU<br>THINK</b></h3>
            <a href="/"  class="w3-bar-item w3-button">HOME</a> 
            <a href="/Awesome"  class="w3-bar-item w3-button">AWESOME</a> 
            <a href="/Give"  class="w3-bar-item w3-button">GIVE</a>
            <a href="/Jinglebells"  class="w3-bar-item w3-button">JINGLEBELLS</a> 
            <a href="/Ridiculous"  class="w3-bar-item w3-button">RIDICULOUS</a> 
            <a href="/Programmer"  class="w3-bar-item w3-button">PROGRAMMER</a> 
            <a href="/Morning"  class="w3-bar-item w3-button">MORNING</a> 
            <a href="/Cool"  class="w3-bar-item w3-button">COOL</a> 
            <a href="/Cup"  class="w3-bar-item w3-button">CUP</a> 
            <a href="/Diabetes"  class="w3-bar-item w3-button">DIABETES</a> 
            <a href="/Fascinating"  class="w3-bar-item w3-button">FASCINATING</a>
            <a href="/Thanks"  class="w3-bar-item w3-button">THANKS</a> 
            <a href="/Maybe"  class="w3-bar-item w3-button">MAYBE</a> 
            <a href="/Graphs"  class="w3-bar-item w3-button">GRAPHS</a>
            <br>
        </nav>
        <div class="w3-display-middle">
            <h1 class="w3-jumbo w3-animate-top">SAY<br>WHAT<br>YOU<br>THINK</h1>
            <div class="w3-center w3-padding-16">
                <hr>
                <h4>Welcome, user: {{user}}</h4>
                <form method ="POST" action="/logout">
                    <button type="submit" name="submit_button" value="logout">Log Out</button>
                </form>
            </div>
        </div>
    </body>
</html>